<body>
  <div class="tabs">
    <button [routerLink]="['/users-page/favourites']" [class.active]="actionLabel === 'Favourite'">
      Favourites
    </button>
    <button [routerLink]="['/users-page/listening']" [class.active]="actionLabel === 'Listening'">
      Listening
    </button>
    <button [routerLink]="['/users-page/wishlist']" [class.active]="actionLabel === 'Wishlist'">
      Wishlist
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let album of albums">
        <div class="card shadow-sm position-relative d-flex flex-column">

          <div class="image">
            <img [src]="album.Cover" class="" alt="Album Cover" *ngIf="album.Cover">
          </div>

          <div class="data col-md-8">
            <h5 class="card-text card-title title">{{ album.Title }}</h5>
            <p class="card-text biography shadow-sm">{{ album.Description }}</p>
            <button (click)='updateAlbumLink(album.Id)'>Remove from {{ actionLabel }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <div *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" *ngFor="let pageNum of [].constructor(totalPages); let i = index"
          [ngClass]="{'active': page === i + 1}">
          <a class="page-link" (click)="pageChange(i+1)">{{ i + 1 }}</a>
        </li>
      </ul>
    </div>
  </div>
</body>