body{
    background-color: #f4f6fb;
    overflow: auto;
}

.container{
    margin-top: 200px;
    border-radius: 20px;
    background-color: white;
    max-width: 550px;
}

input, textarea{
    border-radius: 10px;
}

.text-field{
    width: 80%;
}

.container button{
    background-color: #3f51b5;
    border-color: #3f51b5;
}