<body>

<div class="container col-md-6 col-lg-4 shadow p-4 text-center">
    <h1 class = "mb-3">Add New Artist</h1>
            <form aform="ngForm" [formGroup]="addArtistForm" class="w-100 align-items-center">
              <div class="data d-flex flex-column align-items-center">
                <div class="mb-3 text-field">
                    <input class="form-control text-center" id="name" formControlName="name" placeholder="Enter Name...">
                  </div>
                  <div class="mb-3 text-field">
                    <input class="form-control text-center" id="picture" formControlName="picture" placeholder="Enter URL..."> 
                  </div>
                  <div class="mb-3 text-field">
                    <textarea class="form-control text-center" id="biography" formControlName="biography" rows="5" placeholder="Enter Biography..."></textarea>
                  </div>
                <button type="submit" class="btn btn-primary w-50" (click)="addArtist()">Save</button>
              </div>
              </form>
        </div>

</body>
