<body>

  <div class="container col-md-6 col-lg-4 d-flex flex-column align-items-center shadow">
    <h1 class="mb-3">Add New Record Label</h1>
    <form aform="ngForm" [formGroup]="addRecordLabelForm">
      <div class="data">
        <div class="mb-3 text-field">
          <input class="form-control" id="name" formControlName="name" placeholder="Enter Name...">
        </div>
        <div class="mb-3 text-field">
          <input class="form-control" id="picture" formControlName="picture" rows="1" placeholder="Enter URL...">
        </div>
        <div class="mb-3 text-field">
          <textarea class="form-control" id="biography" formControlName="biography" rows="3"
            placeholder="Enter Biography..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addRecordLabel()">Save</button>
      </div>
    </form>
  </div>

</body>