<div class="profile-wrapper">
    <div class="profile-card">
      <h2 class="profile-title">My Profile</h2>
  
      <div class="profile-item">
        <span class="label">First name:</span>
        <span class="value">{{ user?.FirstName }}</span>
      </div>
  
      <div class="profile-item">
        <span class="label">Last name:</span>
        <span class="value">{{ user?.LastName }}</span>
      </div>
  
      <div class="profile-item">
        <span class="label">Username:</span>
        <span class="value">{{ user?.UserName }}</span>
      </div>
  
      <div class="profile-item">
        <span class="label">Email:</span>
        <span class="value">{{ user?.Email }}</span>
      </div>
  
      <div class="profile-item">
        <span class="label">Role:</span>
        <span class="value">{{ user?.Role }}</span>
      </div>
    </div>
  </div>
  