body{
    background-color: #f4f6fb;
    overflow: auto;
}

 button{
    background-color: #124E66;
    border-color: #124E66;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}