<body>
  
<div class="page-wrapper">
  <div class="bubble input-bubble">
    <h2 class="bubble-title">Assistant</h2>
    <p class="bubble-description">I am the RecordClique Assistant. Tell me an album and I will give you similar suggestions.</p>

    <form [formGroup]="assistantFormGroup" (ngSubmit)="displayText()" class="form">
      <input matInput type="text" formControlName="message" placeholder="Type your title here" class="custom-input">
      <button type="submit" class="submit-button">Generate Message</button>
    </form>
  </div>

  <div *ngIf="generatedMessage" class="bubble response-bubble">
    <h3 class="response-title">Assistant:</h3>
    <p class="response-text">{{ generatedMessage }}</p>
  </div>
</div>

</body>
